/* .Arenda{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgss{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/OIP.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgs{
    height: 100vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.imgs img {
   height: 300px;
   width: 300px;
}

.Rent{
    background-color: rgb(165, 161, 161);
    width: 100%;
}

.cards{
    padding: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   

.card{
    cursor: pointer;
    border-radius: 20px;
    width: 330px;
    margin: 50px 10px;
    background-color: rgb(184, 180, 180);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.card img{
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.Rent_text{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding-top: 50px;
} */

/* .Waring{
    background-color: rgb(179, 177, 177);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Waring h1{
    color: red;
    font-size: 50px;
}

.Waring h2{
    font-size: 25px;
} */

/* .adminPanel{
    height: 100vh;
    padding: 50px;
    background-color: rgb(165, 161, 161);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.adminPanel h1{
    font-size: 50px;
    font-weight: 800;
    color: black;
}

.form{
    width: 800px;
}

.adminPanel form input{
    width: 100%;
    padding: 10px 15px;
    outline: none;
    text-transform: capitalize;
}

.adminPanel form label{
    font-size: 20px;
    font-weight: 500;
}

form .form:nth-child(3) label{
    width: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form .form:nth-child(3) label span{
    color: rgb(63, 63, 63);
    font-size: 17px;
}

.adminPanel form{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.adminPanel button{
    width: 17%;
    margin: 0 auto;
    padding: 12px 30px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
} */