.Lease {
  width: 100%;
  min-height: 135vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/OIP\ \(111\).jpg);
  padding: 40px 0 20px 0;
}

.adminPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  height: 80%;
}

.leasetext {
  color: rgb(218, 218, 218);
  font-size: 40px;
  display: flex;
  align-items: start;
  padding: 100px 0;
}

.leasetext  h1{
  color: white;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin: 20px;
}

.input-field {
  width: 150%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #868686;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  background-color: transparent;
  color: rgb(209, 209, 209);
}

.input-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: rgb(224, 224, 224);
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -8px;
  left: 10px;
  font-size: 9.5px;
  color: rgb(82, 51, 255);
  padding: 0 5px;
  /* background-image:linear-gradient(rgba(0,0,0,0.3.5), rgba(0,0,0,0.3.5)),  url(../images/OIP\ \(111\).jpg); */
  color: transparent;
}

.input-field:nth-of-type(1):not(:placeholder-shown) + .input-label {
  color: rgb(216, 216, 216);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/OIP\ \(111\).jpg);
}

.input-field:focus {
  border: 1px solid #007bff;
  outline: none;
}

form button {
  width: 40%;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid #868686;
  color: rgb(224, 224, 224);
  margin-left: 200px;
  margin-top: 25px;
  cursor: pointer;
}

form {
  margin-right: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  text-align: center;
}

.phone-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

.label {
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.successJs {
  display: flex;
  justify-content: center;
  /* bottom: 490px;
  right: 500px; */
  bottom: 350px;
  right: 3px;
  position: absolute;
}

.selects {
  color: white;
  border: white;
}

.leaseLoading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(202, 201, 201);
}

.input-failedDif{
  padding: 7px 10px;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.il{
  font-size: 10px !important;
}






.media-upload-container {
  position: relative;
  width: 150%;
  margin: 20px;
}

.media-upload-container input[type="file"] {
  display: none;
}

.media-upload-label {
  width: 100%;
  padding: 12px;
  font-size: 16px;

  border: 1px solid #868686;
  border-radius: 4px;

  background-color: transparent;
  color: rgb(209, 209, 209);

  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  position: relative;
}

.media-upload-label span {
  display: none;
}

.media-upload-label:hover {
  border-color: #bfbfbf;
}

.media-upload-container .floating-label {
  position: absolute;
  top: 12px;
  left: 14px;

  color: rgb(224, 224, 224);
  font-size: 15px;

  pointer-events: none;
  transition: all 0.3s ease;
}

.media-upload-container input:valid + .media-upload-label + .floating-label,
.media-upload-container input:focus + .media-upload-label + .floating-label {
  top: -8px;
  font-size: 9.5px;
  color: rgb(82, 51, 255);
  padding: 0 5px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(../images/OIP\ \(111\).jpg);
}